<mat-toolbar class="mat-elevation-z3 relative z-10 mat-toolbar-background ">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>
      menu
    </mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="h-screen">
  <mat-sidenav class="sidenav" opened mode="side" [style.width]="sidenavWidth()">
    <app-admin-sidenav [collapsed]='collapsed()' >

    </app-admin-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content p-20  bg-black" [style.margin-left]="sidenavWidth()  ">
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>