<div class="bg-black min-h-screen flex flex-col items-center pt-9 ">

  <app-logo></app-logo>
  <div class="relative py-3 w-full sm:w-2/4 md:w-2/6 md:mt-14 ">
    <div class="relative px-4 py-5 bg-black mx-8 md:mx-20 shadow rounded-3xl border sm:p-10 shadow-red-900">
      <div class="max-w-sm mx-auto text-white">
        <div class="flex items-center space-x-5 justify-center">
        </div>
        <div class="mt-1">
          <label class="font-thin text-sm mb-3   text-white  block text-center place" for="login">Please enter your email address <br> to search for your account.</label>
          <input class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full bg-white text-gray-700 focus:border-blue-500 focus:ring-4 focus:ring-blue-500" type="text" id="login" placeholder="Email address  :" />
          
    
        <div class="mt-4 flex justify-end">
          <button  [routerLink]="'/user/login'"  class=" py-2 px-3 bg-red-600 hover:ring-blue-500 hover:ring-offset-blue-200 focus:ring-blue-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center  font-medium shadow-md hover:outline-none hover:ring-2 hover:ring-offset-2 rounded-sm text-xs" type="submit">
            Go back
          </button>
          <button class=" py-2 px-3 ms-3 bg-gradient-to-r from-purple-800 to-purple-400 hover:ring-blue-500 hover:ring-offset-blue-200 focus:ring-blue-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center  font-medium shadow-md hover:outline-none hover:ring-2 hover:ring-offset-2 rounded-sm text-xs" type="submit">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>