<div class="search-input max-h-[70vh] overflow-auto">
  <mat-form-field class="w-full ">
    <input matInput placeholder="Search for users..." [formControl]="searchControl" [matAutocomplete]="users" >
  </mat-form-field>
  <mat-autocomplete #users="matAutocomplete">
    <ng-container *ngIf="filtered$ | async as allUsers">
     <mat-option *ngFor="let user of allUsers" (click)="getConversation(user)">{{user.fullname}}</mat-option>

    </ng-container>
  </mat-autocomplete>

  <app-conversation-list *ngFor="let conversation of allConversationItems" [conversation]="conversation" (click)="selectConversation(conversation)"></app-conversation-list>


</div>