

<div class=" container grid grid-cols-1  md:grid-cols-3 ">
  <div class=" sticky me-6 hidden md:block border-r border-slate-500">
    <app-user-home-profile></app-user-home-profile>
  </div>
  <div class="container ps-12 ">
    <mat-form-field class="w-9/12  ">
      <input matInput placeholder="Search for users..." [formControl]="searchControl" [matAutocomplete]="users">
    </mat-form-field>
    <mat-autocomplete #users="matAutocomplete">
      <ng-container *ngIf="filtered$ | async as Users">
        <mat-option *ngFor="let user of Users" (click)="getProfile(user._id)">
          <div class="flex items-center">
            <img [src]="getImageUrl(user)" alt="User Avatar" class="w-10 h-10 rounded-full mr-4">
            <div>
              <div class="font-semibold">{{user.userfname}} <span  class="text-slate-500 font-light"> {{user.username}}</span></div>
              <div class="text-sm text-gray-500">{{user.followers}} Followers</div>
            </div>
          </div>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </div>
  <div></div>
</div>