<div class="profile-post-container overflow-hidden border ">
  <div class="flex  rounded w-full">
    <!-- Left side content -->
    <div class="bg-black text-white rounded-sm flex items-center justify-between  h-[80vh] w-[50%] px-4">
      <div class=" ms-8 bg-black  w-[80%] border-x-4">
         <div class="items-center px-4 py-3 flex">
           <a (click)="close()">
             <img class="h-12 w-12 rounded-full" [src]="data.userImageUrl" />
           </a>
           <div class="ml-3">
             <span class="text-md font-sans antialiased block leading-tight">
               {{ data.user.username | titlecase}}
             </span>
             <span class="text-xs block">
               {{ data.post.location}}
             </span>
           </div>
         </div>
         <div class="flex justify-center items-center"><img [src]="imgUrl+data.post.postURL|| postPlaceholderImageUrl" class="  h-[50%] w-[80%] " /></div>

         <div class="flex items-center justify-between mx-4 mt-3 mb-2">
           <div class="flex gap-5">
             <label class="container">
               <input [checked]="liked" type="checkbox" (change)="toggleLike($event)">
               <div class="checkmark">
                 <svg fill="#262626" viewBox="0  0  256  256">
                   <rect fill="none" viewBox="0 0 48 48" height="24" width="24"></rect>
                   <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="8px" stroke="#FFF" fill="none"></path>
                 </svg>
               </div>
             </label> 
              <label class="container">
               <input [checked]="commentModal" type="checkbox" (change)="toggleCommentModal($event)">
               <div class="checkmark">
                 <svg fill="#FFF" height="24" viewBox="0 0 48 48" width="24">
                   <rect fill="none" viewBox="0 0 48 48" height="24" width="24"></rect>
                   <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"></path>
                 </svg>
               </div>
             </label> 
           </div>
            <div class="flex">
             <svg fill="#FFF" height="24" viewBox="0 0 48 48" width="24">
               <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path>
             </svg>
           </div> 
         </div>
         <!-- <div class="font-semibold text-sm mx-4 mt-2 mb-4">
           {{ userLikes }} likes
         </div> -->
         </div>
      </div>
     
    <!-- Right side made scrollable -->
    <div class="w-[50%] overflow-y-auto">
      <app-post-comments [postId]="data.post._id" [userId]="data.user._id"></app-post-comments>
    </div>
  </div>
</div>
