<div class="relative flex min-h-screen flex-col items-center  overflow-hidden bg-black pt-9">

  <app-logo></app-logo>
  <div class="relative bg-black border px-6 pt-10 pb-9 shadow-xl mx-auto w-5/6 max-w-lg rounded-2xl md:mt-14">
    <div class="mx-auto flex w-full max-w-md flex-col space-y-16 ">
      <div class="flex flex-col items-center justify-center text-center space-y-2">
        <div class="font-semibold text-2xl">
          <p class="text-white">Email Verification</p>
        </div>
        <div class="flex flex-row text-sm font-medium text-gray-400">
          <p class="">Please enter 4 digit OTP send to your Email</p>
        </div>
      </div>

      <div>
        <form [formGroup]="otpForm" (submit)="onSubmit()">
          <div class="flex flex-row items-center justify-between mx-auto w-full max-w-xs">
            <div class="w-16 h-16">
              <input formControlName="digit1" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700" type="text" maxlength="1">
            </div>
            <div class="w-16 h-16">
              <input formControlName="digit2" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700" type="text" maxlength="1">
            </div>
            <div class="w-16 h-16">
              <input formControlName="digit3" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700" type="text" maxlength="1">
            </div>
            <div class="w-16 h-16">
              <input formControlName="digit4" class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700" type="text" maxlength="1">
            </div>
          </div>
          <app-otp-validation [otpForm]="otpForm" [isSubmitted]="isSubmitted">

          </app-otp-validation>

          <div class="flex flex-col space-y-5">
            <div class="flex justify-center my-4">
              <button type="submit" class="py-2 px-4 bg-gradient-to-r from-purple-950 to-purple-400 hover:ring-blue-500 hover:ring-offset-blue-200 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full md:w-1/2 transition ease-in duration-200 text-center text-base font-semibold shadow-md hover:outline-none hover:ring-2 hover:ring-offset-2 rounded-3xl">
                Verify Account
              </button>
            </div>
          </div>
        </form>

        <div class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500">
          <p>Didn't recieve code?</p> <a class="flex flex-row items-center text-blue-600">Resend</a>
        </div>
      </div>
    </div>
  </div>
</div>