<div class="bg-black p-1 grid justify-center items-center">
  <app-img-post [userName]="'John Doe'" [userLocation]="'New York, USA'"  [postUrl]="'https://picsum.photos/id/244/900/900'" [userLikes]="92372"></app-img-post>
  <app-img-post [userName]="'John Doe'" [userLocation]="'New York, USA'"  [postUrl]="'https://picsum.photos/id/244/900/900'" [userLikes]="92372"></app-img-post>
  <app-img-post [userName]="'John Doe'" [userLocation]="'New York, USA'"  [postUrl]="'https://picsum.photos/id/244/900/900'" [userLikes]="92372"></app-img-post>
  <app-img-post [userName]="'John Doe'" [userLocation]="'New York, USA'"  [postUrl]="'https://picsum.photos/id/244/900/900'" [userLikes]="92372"></app-img-post>
</div>
