<router-outlet></router-outlet>
<!-- <div class="flex flex-col bg-black items-center justify-center h-screen">
  <div class="w-full max-w-md bg-custom-black rounded-lg p-6 border">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">Sign Up</h2>
    <form class="flex flex-col">
      <input placeholder="Full Name" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="text">
      <input placeholder="Username" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="text">
      <input placeholder="Email address" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="email">
      <input placeholder="Mobile Number" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="email">
      <input placeholder="Password" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="password">
      <input placeholder="Confirm Password" class="bg-white text-gray-900 border-0 rounded-lg p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-purple-500 transition ease-in-out duration-150" type="password">
      <label class="text-sm mb-2 text-white cursor-pointer" for="age">
        Date of Birth
      </label>
      <input class="bg-gray-100 text-gray-900 border-0 rounded-md p-2" id="age" type="date">
      <p class="text-white mt-4"> Already have an account? <a class="text-sm text-blue-500 -200 hover:underline mt-4" href="#">Login</a></p>
      <button class="bg-gradient-to-r from-purple-950 to-purple-300 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150" type="submit">Sign Up</button>
    </form>
  </div>
</div> -->

