<!-- not-found.component.html -->

<!-- Background Theme with Design -->
<div class="bg-gradient-to-tl from-blue-500 via-purple-500 to-pink-500 text-white h-screen flex flex-col items-center justify-center
 p-6 rounded-md shadow-lg">

  <!-- Error Message Heading with Design -->
  <h1 class="text-4xl font-bold mb-4">404 Page Not Found</h1>

  <!-- Message -->
  <p class="text-lg mb-8 text-center text-white leading-7 font-medium">
     You may have mistyped the address or the page may have moved.
  </p>

  <!-- Button with Design -->
  <button class="bg-red-400 text-white px-6 py-3 rounded-md hover:bg-red-600
    focus:outline-none focus:ring focus:border-red-600 transition-all duration-300" (click)="goBack()">Go Back</button>

</div>
