<div class="sidenav-header text-center mt-4">
  <img class="rounded-full  mx-auto object-cover mb-[10px]" [width]="profilePicSize()" [height]="profilePicSize()" src="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg" alt="profilepic">
  <div class="header-text " [class.hide-header-text]="sideNavCollapsed()" >
      <p class="font-bold ">User</p>
      <p >Full Name</p>
  </div>
  <mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()" class="text-left" [routerLink]='item.route' >
    <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
    <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
        
    </a>
  </mat-nav-list>

</div>