<div class=" rounded-lg shadow-xl w-10/12 lg:w-2/6  ps-2">
  <div class="flex my-4 ">
    <div class="w-2/5 p-2 grid place-items-center ">
      <img class="w-12 h-12 rounded-full border border-gray-100 shadow-sm" [src]="profileImg" alt="user image" />
    </div>
    <div class="w-3/5 flex flex-col p-2">
      <p class="text-gray-400 whitespace-normal sm:whitespace-nowrap">{{notification.message}}<span class="text-gray-400  font-bold"> {{notification.relatedUser.fullname | titlecase}} </span></p>
      

      <div class="font-thin">
   <a (click)="accept()" class="text-[#D40853] mr-2 hover:text-white">Accept</a>
   <a (click)="decline()" class="text-gray-400 hover:text-white">Decline</a>
      </div>
    </div>
  </div>
</div>
